.navbar-brand{
    padding-top: inherit;
}
.container-fluid{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    background: none;
}

.navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
}